/* outer combo-box text */
.combo-box .list-cell {
  -fx-text-fill: #E7ECEF;
}

/* combo-box list view text, not hovered or focused */
.combo-box .list-view .list-cell {
  -fx-text-fill: #232323;
}

/* combo-box selected text */
.combo-box .list-view .list-cell:focused {
  -fx-background-color : #358F80;  /* Cadet Blue */
  -fx-text-fill: #E7ECEF;
}

/* combo-box hover text */
.combo-box .list-view .list-cell:hover {
  -fx-background-color : #358F80;  /* Cadet Blue */
  -fx-text-fill: #E7ECEF;
  -fx-cursor: hand;
}