.pane {
	-fx-background-color: #E7ECEF;
}

MenuBar {
	-fx-background-color: #d0d5d8;
}

#menuItems:hover{
	-fx-background-color: #4DC5AD;
}

VBox {
	-fx-spacing: 10px;
	-fx-background-color: #d0d5d8;
}

.asideBtn {
	-fx-background-color: #358F80;
	-fx-text-fill: #E7ECEF;
   -fx-font-weight: bold;
   -fx-font-size: 20px;
   -fx-cursor: hand;
}

.asideBtn:hover {
	-fx-background-color: #4DC5AD;
}

TextField {
	-fx-background-color: transparent;
	-fx-border-color: #358F80;
	-fx-border-radius: 15px;
	-fx-border-width: 2px;
	-fx-font-size: 20px;
}

ComboBox {
	-fx-background-color: #358F80;
	-fx-border-radius: 15px;
}