AnchorPane {
	-fx-background-color: #E7ECEF;
}

.titleLabel {
	-fx-background-color: #358F80;
	-fx-padding: 0 10px;
	-fx-text-fill: #e7ecef;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.fieldLabel {
	-fx-text-fill: #274c77;
	-fx-font-size: 12px;
}

Button {
	-fx-text-fill: #e7ecef;
	-fx-background-color: #6096BA;
	-fx-cursor: hand;
	-fx-font-size: 20px;
   -fx-font-weight: bold;
   -fx-text-fill: #E7ECEF;
}

CheckBox {
	-fx-font-size: 12px;
	-fx-text-fill: #274c77;
	-fx-cursor: hand;
}

TextField, PasswordField {
	-fx-background-color: transparent;
   -fx-border-color: #358F80;
   -fx-border-radius: 10px;
   -fx-border-width: 2px;
   -fx-font-size: 16px;
   -fx-cursor: text;
}

PasswordField {
	-fx-font-size: 12px;
}

ImageView {
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

TextArea {
	-fx-area-background: transparent;
	-fx-background-color: transparent;
	-fx-text-fill:#274c77;
	-fx-font-size: 14px;
	-fx-border-width: 0px;
}